.div-stat-horizontal{
    height: 20px;
    background-color: #00c0ef;
    border-radius: 2px;
    transition: 1.5s;
}

.div-stat-horizontal-p{
    height: 20px;
    background-color: #17a2b8;
    border-radius: 2px;
    transition: 1.5s;
}
.div-stat-horizontal-v{
    height: 20px;
    background-color: #dc3545;
    border-radius: 2px;
    transition: 1.5s;
}

#list-genre > div {
    margin-bottom: 16px;
}

#border-bottom{
    border-bottom: 1px solid lightgray;
}

select.custom-select:focus {
    border-color: #00AFAA;
    outline: 0;
    box-shadow: inset 0 1px 2px rgba(0,0,0,.075), 0 0 5px rgba(128,189,255,.5);
}
.img-icon-style{
    opacity: 0.4 !important;
}
.dashB .nav-link:not(.active):hover {
    color: #fff !important;
    background-color: #00AFAA !important;
    opacity: 0.5 !important;
}
.widget-user-header .bg-success{
     background-color: #00AFAA !important;
}

.info-bienvenu{
    position:absolute;
    z-index:300;
    left: -3px;
    top: -50px;
    right: -2px;
    bottom:0;
    background-color: #FFFFFF;
}
.container-section{
    position: relative;
}
.titre-bienvenu{
    text-align: center;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.section-check-info{
    text-align: center;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10px;
}
.close-info-bienvenu{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}
.bouton-sticky {
  position: fixed;
    bottom: 0%;
    right: -16%;
    z-index: 9999;
    border: none;
    background-color:transparent;
   
}
 
.exportImage{
    object-fit: contain;
    width: 11%;
    height: 38%;
}

.select2-container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0;
    position: relative;
    vertical-align: middle;
    width: 100% !important;
    margin: 10px;
}