.div-img-preview{
    margin-bottom: 10px;
}
.div-img-preview img{
    background-repeat: no-repeat;
    border-radius: 2%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}
.div-img-preview button{
  position: absolute;
  bottom: 0px;
  left: 8px;
}
.div-img-preview > .fa-check{
  position: absolute;
  bottom: -10px;
  left: -5px;
  font-size: 40px;
  color: #00AFAA;
}
.photo-in-picker{
  cursor: pointer;
  transition: 1s;
}
.photo-in-picker:hover{
  border-radius: 20px;
}

.rv-div-import{
  width: 100%;
  text-align: center;
}

.lds-roller {
    display: none;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-roller div {
    animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
  }
  .lds-roller div:after {
    content: " ";
    display: block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #00AFAA;
    margin: -3px 0 0 -3px;
  }
  .lds-roller div:nth-child(1) {
    animation-delay: -0.036s;
  }
  .lds-roller div:nth-child(1):after {
    top: 50px;
    left: 50px;
  }
  .lds-roller div:nth-child(2) {
    animation-delay: -0.072s;
  }
  .lds-roller div:nth-child(2):after {
    top: 54px;
    left: 45px;
  }
  .lds-roller div:nth-child(3) {
    animation-delay: -0.108s;
  }
  .lds-roller div:nth-child(3):after {
    top: 57px;
    left: 39px;
  }
  .lds-roller div:nth-child(4) {
    animation-delay: -0.144s;
  }
  .lds-roller div:nth-child(4):after {
    top: 58px;
    left: 32px;
  }
  .lds-roller div:nth-child(5) {
    animation-delay: -0.18s;
  }
  .lds-roller div:nth-child(5):after {
    top: 57px;
    left: 25px;
  }
  .lds-roller div:nth-child(6) {
    animation-delay: -0.216s;
  }
  .lds-roller div:nth-child(6):after {
    top: 54px;
    left: 19px;
  }
  .lds-roller div:nth-child(7) {
    animation-delay: -0.252s;
  }
  .lds-roller div:nth-child(7):after {
    top: 50px;
    left: 14px;
  }
  .lds-roller div:nth-child(8) {
    animation-delay: -0.288s;
  }
  .lds-roller div:nth-child(8):after {
    top: 45px;
    left: 10px;
  }
  @keyframes lds-roller {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .info_detaille{
    font-size: 0.9em !important
  }

/*input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}*/
.donPills .nav-link:not(.active):hover {
    color: #fff !important;
    background-color: #00AFAA !important;
    opacity: 0.5 !important;
}

li.ui-timepicker-selected, .ui-timepicker-list li:hover, .ui-timepicker-list .ui-timepicker-selected:hover{
  background: #00AFAA !important;
  color: #fff !important;
}
.input_error{
  color: #495057;
  background-color: #fff;
  border-color: #00AFAA99;
  outline: 0;
  box-shadow: inset 0 0 0 transparent,0 0 0 .2rem rgba(0, 175, 170, 0.43);
}