.product_action{
	width: 50px !important;
	height:40px !important;
}
table{
	text-align: center !important;
}
.table .table_produit th{
	vertical-align: middle;
}
.table .table_produit td{
	vertical-align: middle;
}

/*i.fa.fa-cubes{
	color: white !important;*
}*/
.paginate_button.current{
	border: 1px solid #00AFAA !important;
}
.dataTables_filter [type=search]{
	border: 1px solid #dedede !important;
	font-size:0.9em !important;
	font-weight:350 !important;
	height: 25px !important;
}
.dataTables_filter [type=search]:focus {
	outline: #00AFAA auto 2px !important;
}
.table-striped tbody tr:nth-of-type(odd){
	background-color: rgba(0,0,0,.01) !important; 
}
.card-body.listeProduit{
	font-size:0.9em !important;
	font-weight:450 !important;
}
.card-body.listeProduit td{
	width: 10%;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.next:hover{
	color:#fff !important;
	background: #00AFAA !important;
	border: none !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.previous:hover{
	color:#fff !important;
	background: #00AFAA !important;
	border: none !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{
	color:#fff !important;
	background: #00AFAA !important;
	border: none !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover{
	color:#fff !important;
	background: #00AFAA !important;
	border: none !important;
}
.productList .nav-link:not(.active):hover {
    color: #fff !important;
    background-color: #00AFAA !important;
    opacity: 0.5 !important;
}