.form-control-feedback {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 34px;
    height: 34px;
    line-height: 34px;
    text-align: center;
    pointer-events: none;
    color: #777;
}

.has-feedback {
    position: relative;
}

.icheckbox_square-blue {
    margin-right: 8px;
    margin-top: -2px;
}

.label-remember{
    height: 100%;
    display: flex;
    align-items: center;
}

.checkbox.icheck{
    height: 100%;
}

.form-error{
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    color: red;
    display: block;
}

.form-succes{
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
    color: #00AFAA;
    display: block;
}

.select2-container--default .select2-search--inline .select2-search__field {
    color:#000;
}

label{
    color:#37474F;
}

select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #007bff;
    border-color: #006fe6;
    padding: 1px 10px;
    color: #fff;
}

label.check{
    font-weight: normal !important;
}

a.btn.btn-primary {
    color: #fff !important;
}

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active {
    color: #fff;
    background-color: #00AFAA !important;
}

.btn-primary {
    color: #fff;
    background-color: #00AFAA !important;
    border-color: #00AFAA !important;
}

.btn-primary:hover {
    color: #fff;
    background-color: #94D5EB !important;
    border-color: #94D5EB !important;
}

a {
    color: #00AFAA;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

a:hover {
    color: #94D5EB;
    text-decoration: none;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
    color: #fff;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #00AFAA;
    border-color: #00AFAA;
    padding: 1px 10px;
    color: #fff;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #00AFAA;
    color: #fff;
}

.select2-dropdown .select2-search__field:focus, .select2-search--inline .select2-search__field:focus {
    outline: 0;
    border: 1px solid #00AFAA;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #00AFAA99;
    outline: 0;
    box-shadow: inset 0 0 0 transparent,0 0 0 .2rem rgba(0, 175, 170, 0.43);

}

.select2-container--default .select2-results__option[aria-disabled="true"] {
    color: #00AFAA;
    cursor: pointer;
}

.loader-default img{
    width: 100%;
}

.check {
    width: 100%;
}

.tag-mp {
    border: 1px solid grey;
    padding: 2px 8px;
    border-radius: 4px;
    margin-right: 4px;
    margin-top: 8px;
    display: inline-block;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #00AFAA;
}

.card-primary.card-outline {
    border-top: 3px solid #00AFAA;
}

.nav-pills .nav-link:not(.active):hover {
    color: #00AFAA;
}

b, strong {
    font-weight: bolder;
    color: #646369;
}

.card-footer.right {
    text-align: right;
}

.modal {
    overflow: auto !important;
}

.logo-profil{
    object-fit: cover;
    width: 10rem;
    height: 10rem;
}

.user-panel img {
    width: 2.1rem;
    height: 2.1rem;
    object-fit: cover;
}

.btn{
    word-wrap: normal;
    white-space: pre-line;
}

.btn.btn-navbar{
    word-wrap: normal;
    white-space: nowrap;
}

.select2-container .select2-selection--single {
    height: 100%;
    padding-top: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 8px;
}

.select2-container .select2-selection--single .select2-selection__rendered {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

#sexe-select .select2.select2-container.select2-container--default{
    width: 70px !important;
}

.icon-edit-in-profil{
    margin-left: 5px;
}
.icon-edit-in-profil:hover{
    cursor: pointer;
}

.td-icon{
    font-size: 17px;
    text-align: right;
}
.td-icon i:hover{
    cursor: pointer;
}

.profilPage .nav-link:not(.active):hover {
    
    color: #fff !important;
    background-color: #00AFAA !important;
    /*background-color: rgba(70,150,52,0.5) !important;*/
    opacity: 0.5 !important;
}
.erreur_input{
  color: #495057;
  background-color: #fff;
  border-color: #00AFAA99 !important;
  outline: 0;
  box-shadow: inset 0 0 0 transparent,0 0 0 .2rem rgba(0, 175, 170, 0.43);
}
.message_erreur{
   color: #00AFAA99; 
}